.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    background-color: #d8e5e9;

    .header {
        display: flex;
        width: 90%;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        margin: 0 auto;
        height: fit-content;
        justify-content: space-between;
        padding: 0 50px;
        flex-direction: row;
        background-color: black;

        &__logo {
            width: 13%;
            padding: 10px;

            svg {
                width: 100%;
            }
        }

        &__nav {
            width: 75%;
            padding: 0 25px;
            display: flex;
            justify-content: center;

            ul {
                display: flex;
                width: 100%;
                justify-content: space-around;
                align-items: center;
                flex-direction: row;
            }

            li {
                display: flex;
                height: 100%;
                box-sizing: border-box;
                align-items: center;
                font-size: 1.35rem;
            }

            li:hover {
                font-weight: 600;
                color: #149FA3;
                cursor: pointer;
                transition: color 0.5s;
            }

            li:first-child {
                color: #149FA3;
                font-weight: 600;
            }
        }
    }

    .container_ultimos_avisos {
        display: flex;
        width: 65%;
        margin: 0 auto;
        margin-bottom: 1%;

        &__titulo {
            border-top: solid 4px #108185;
            text-align: center;
            white-space: nowrap;
            min-width: 20%;
            padding: 10px;
            font-weight: 600;
            font-size: 1.35rem;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            background-color: #149FA3;
        }

        &__avisos {

            padding-left: 8px;
            font-size: 1.25rem;
            text-align: start;
            align-self: center;
            color: black;

        }
    }

    .principal {
        display: flex;
        flex-direction: row;
        align-self: center;
        width: 90%;
        height: 70vh;

        .container_avisos {
            display: flex;
            width: 50%;
            margin: 0 50px;
            background-color: #8b72cf;
            border-radius: 5px;
            padding: 1% 2% 2.5% 2%;

            &__avisos {
                display: flex;
                justify-content: center;
                width: 100%;
                object-fit: contain;

                img {
                    box-shadow: -5px 5px 10px #6e5ba4;
                    border-radius: 5px;
                }
            }


        }

        .botoes {
            display: flex;
            flex-direction: column;
            align-self: center;
            width: 50%;
            border-radius: 5px;
            height: fit-content;
            margin: 0 50px;

            &__titulo {
                align-self: center;
                width: 85%;

                img {    
                    width: 100%;

                }
            }

            &__container {
                display: flex;
                flex-direction: row;

                &__dois {
                    display: flex;
                    flex-direction: column;

                    img {
                        align-self: center;
                        margin: 10px 0;
                        border-radius: 13px;
                        box-shadow: -5px 5px 10px rgba(16, 29, 33, 0.2);
                        width: 95%;
                    }

                }
            }
        }
    }

    .nossos_cursos {
        display: flex;
        margin: 25px 0;
        width: 100%;
        flex-direction: column;
        background-color: black;

        &__titulo {
            text-align: center;
            width: fit-content;
            margin: 0 auto 5px auto;
            text-transform: uppercase;
            color: #494898;
            background-color: #d8e5e9;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            padding: 10px;
            font-weight: 600;
            font-size: 3rem;
        }

        &__texto {
            font-size: 1.25rem;
            line-height: 1.75rem;
            text-align: center;
        }
    }
}