.main {
    display: flex;
    flex-direction: column;

    .header {
        display: flex;
        height: fit-content;
        justify-content: space-between;
        padding: 0 50px;
        flex-direction: row;
        background-color: black;

        &__logo {
            width: 13%;
            padding: 10px;

            svg {
                width: 100%;
            }
        }

        &__nav {
            width: 75%;
            padding: 0 25px;
            display: flex;
            justify-content: center;

            ul {
                display: flex;
                width: 100%;
                justify-content: space-around;
                align-items: center;
                flex-direction: row;
            }

            li {
                display: flex;
                height: 100%;
                box-sizing: border-box;
                align-items: center;
                font-size: 1.35rem;
            }

            li:hover {
                border-bottom: 3px solid #8b72cf;
                cursor: pointer;
            }

            li:first-child {
                color: #149FA3;
                font-weight: 600;
            }
        }
    }

    .quick_avisos {
        display: flex;
        width: calc(100% - 100px);
        margin: 0 auto;
        justify-content: center;
        background-color: #149FA3;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .container_avisos {
        display: flex;
        flex-direction: row;
        border-radius: 10px;
        background-color: #8b72cf;
        width: 40vw;
        height: 100%;
        &__avisos {
            width: 100%;
            height: 40vh;
            display: flex;
            flex-direction: row;
            img {
                width: 80%;
                object-fit: contain;
            }
        }
    }


}